@import "mynormalize";
@import "compass";
body{
	font-size: 14px;
}
.exchangeBox{
	width: 800px;
	margin: 50px auto;
}
h1{
	text-align: center;
	font-size: 33px;
}
h2{
	font-size: 26px;
	margin: 15px 0;
}
.changeTime{
	float: left;
	width: 45%;
	div{
		padding: 8px 25px;
		background: #f9f9f9;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #e5e5e5;
	}
	select{
		float: right;
	}
}
table{
	 width: 100%;
	td{
		padding: 8px 25px;
		box-sizing:border-box;
	}
	tr{
		box-sizing:border-box;
		&:nth-child(odd){
			background: #f9f9f9;
			border-top: 1px solid #dfdfdf;
		}

		&:nth-child(even){
			border-top: 1px solid #e5e5e5;
		}
	}
}
.symbolsList{
	float: left;
	width: 45%;
	clear: left;
	td{

		width: 50%;
	}
	.symbolItem_last{
		td{
			width: 25%;
			&:first-child{
				width:75%;
			}
		}
		select{
			margin-right: 20px;
		}
			
	}
}
.ratesList{
	float: right;
	width: 45%;
	th{
		width: 25%;
		padding: 8px 12px;
	}
	td{
		padding: 8px 12px;
		text-align: center;
	}
	.rateItem{
		&_disabled{
			opacity: 0.5;
		}
	}
	
}

.btn{
	font-size: 12px;
	float: right;
	@include inline-block;
	padding: 7px 12px;
	background: #428ccb;
	color:#fff;
	cursor: pointer;
	@include border-radius(5px);
	border: 1px solid #367ebd;

	&:hover{
		background: #84b4db;
		border-color:#7eadd5;
	}

	&_disabled{
		border-color:#7eadd5;
		background: #84b4db;
		cursor: default;
	}
}